In [33]:
import pandas as pd

In [34]:
identify = pd.read_csv('../Data/identify.csv')

In [35]:
player = pd.read_csv('../Data/Clean/Player.csv')

In [36]:
identify.isna().sum()

player_id         0
name              0
club              0
team_match    14463
dtype: int64

In [37]:
# # Create a merge condition based on player name and substring matching for team names
# identify['team_match'] = identify['club'].apply(
#     lambda x: next((team for team in player['Team Name'] if team in x), None)
# )

In [38]:
#identify.to_csv('../Data/identify.csv', index=False)

In [39]:
# identify['name'] = identify['name'].str.lower()
# identify['team_match'] = identify['team_match'].str.lower()

In [40]:
# player['Player'] = player['Player'].str.lower()
# player['Team Name'] = player['Team Name'].str.lower()

In [41]:
# player.to_csv('../Data/Clean/Player_Gr.csv', index=False)

In [42]:
# Replace 'col1' and 'col2' with your chosen columns
key_columns = ['player_id', 'team_match']

# Check uniqueness in df1
is_unique_df1 = not identify.duplicated(subset=key_columns).any()


print(f"Unique in df1: {is_unique_df1}")

Unique in df1: False

In [43]:
duplicates_df1 = identify[identify.duplicated(subset=key_columns, keep=False)]
 
print("Duplicates in df1:")
print(duplicates_df1)

Duplicates in df1:
       player_id           name                                   club  \
402         7161  jonas hofmann                      Borussia Dortmund
404         7161  jonas hofmann                         B. Dortmund II
405         7161  jonas hofmann                         Hoffenheim U19
406         7161  jonas hofmann                         Hoffenheim U17
407         7161  jonas hofmann                        Hoffenheim Yth.
...          ...            ...                                    ...
31098    1184137  yassin tallal  Getafe Club  Fútbol S.A.D. Team Dubai
31100    1222050  rocco di vico                    US Salernitana 1919
31101    1230202  borja vázquez                               Cádiz CF
31102    1237073   lander emery              Aston Villa Football Club
31103    1255616  alberto risco  Getafe Club  Fútbol S.A.D. Team Dubai

        team_match
402       dortmund
404       dortmund
405     hoffenheim
406     hoffenheim
407     hoffenheim
...            ...
31098       getafe
31100  salernitana
31101        cádiz
31102  aston villa
31103       getafe

[16808 rows x 4 columns]

In [44]:
# Merge using the refined match
merged_df = pd.merge(identify, player, 
                     left_on=['name', 'team_match'], 
                     right_on=['Player', 'Team Name'], 
                     how='right')

In [45]:
merged_df.isna().sum()

player_id     20175
name          20175
club          20175
team_match    20175
Player            0
              ...
game_id           0
Wk                0
season            0
Date              0
Team Name         0
Length: 132, dtype: int64

In [46]:
nan_rows = merged_df[merged_df['player_id'].isna()]
nan_rows.head()

,player_id,name,club,team_match,Player,#,Nation,Pos,Age,Min,...,Miscellaneous_Stats_Recov,Miscellaneous_Stats_Won,Miscellaneous_Stats_Lost,Miscellaneous_Stats_Won%,home,game_id,Wk,season,Date,Team Name
7,NaN,NaN,NaN,NaN,abderrahman rebbach,21.0,dz ALG,LW,25-289,14.0,...,1.0,0.0,0.0,NaN,0,377,38.0,2023-2024,2024-05-26,alavés
13,NaN,NaN,NaN,NaN,adam marušić,77.0,me MNE,LB,31-222,90.0,...,4.0,1.0,0.0,100.0,1,375,38.0,2023-2024,2024-05-26,lazio
14,NaN,NaN,NaN,NaN,adam marušić,77.0,me MNE,LB,31-222,90.0,...,4.0,1.0,0.0,100.0,1,375,38.0,2023-2024,2024-05-26,lazio
21,NaN,NaN,NaN,NaN,adri embarba,10.0,es ESP,LW,32-018,90.0,...,4.0,1.0,0.0,100.0,1,373,38.0,2023-2024,2024-05-25,almería
22,NaN,NaN,NaN,NaN,adrien tameze,61.0,cm CMR,CM,30-112,71.0,...,2.0,0.0,0.0,NaN,0,373,38.0,2023-2024,2024-05-26,torino

In [47]:
nan_rows.to_csv('../Data/nan_rows.csv', index=False)

In [48]:
nan_rows.loc[(nan_rows['Player'] == 'Agustín Rogel')]

Empty DataFrame
Columns: [player_id, name, club, team_match, Player, #, Nation, Pos, Age, Min, Summary_Gls, Summary_Ast, Summary_PK, Summary_PKatt, Summary_Sh, Summary_SoT, Summary_CrdY, Summary_CrdR, Summary_Touches, Summary_Tkl, Summary_Int, Summary_Blocks, Summary_xG, Summary_npxG, Summary_xAG, Summary_SCA, Summary_GCA, Summary_Cmp, Summary_pass_Att, Summary_Cmp%, Summary_PrgP, Summary_Carries, Summary_PrgC, Summary_takes_on_Att, Summary_Succ, Passing_total_Cmp, Passing_total_Att, Passing_total_Cmp%, Passing_TotDist, Passing_PrgDist, Passing_short_Cmp, Passing_short_Att, Passing_short_Cmp%, Passing_medium_Cmp, Passing_medium_Att, Passing_medium_Cmp%, Passing_long_Cmp, Passing_long_Att, Passing_long_Cmp%, Passing_Ast, Passing_xAG, Passing_xA, Passing_KP, Passing_1/3, Passing_PPA, Passing_CrsPA, Passing_PrgP, Pass_Types_Att, Pass_Types_Live, Pass_Types_Dead, Pass_Types_FK, Pass_Types_TB, Pass_Types_Sw, Pass_Types_Crs, Pass_Types_TI, Pass_Types_CK, Pass_Types_In, Pass_Types_Out, Pass_Types_Str, Pass_Types_Cmp, Pass_Types_Off, Pass_Types_Blocks, Defensive_Actions_total_Tkl, Defensive_Actions_TklW, Defensive_Actions_Def 3rd, Defensive_Actions_Mid 3rd, Defensive_Actions_Att 3rd, Defensive_Actions_dribblers_Tkl, Defensive_Actions_Att, Defensive_Actions_Tkl%, Defensive_Actions_Lost, Defensive_Actions_Blocks, Defensive_Actions_Sh, Defensive_Actions_Pass, Defensive_Actions_Int, Defensive_Actions_Tkl+Int, Defensive_Actions_Clr, Defensive_Actions_Err, Possession_Touches, Possession_Def Pen, Possession_Def 3rd, Possession_Mid 3rd, Possession_Att 3rd, Possession_Att Pen, Possession_Live, Possession_Att, Possession_Succ, Possession_Succ%, Possession_Tkld, Possession_Tkld%, ...]
Index: []

[0 rows x 132 columns]

In [49]:
nan_rows_name = nan_rows['Player']

In [50]:
players = pd.read_csv('../Data/RAW/Transfermarkt_Dataset/shortenplayers.csv')

In [51]:
def players_in_dataset(names_list, df, column_name):
  """
  Counts the number of players in the names_list that are not found in the specified column of the DataFrame.

  Args:
    names_list: A list of player names.
    df: The pandas DataFrame to check.
    column_name: The name of the column in the DataFrame to search.

  Returns:
    The count of players in the names_list that are not found in the DataFrame.
  """

  count = 0
  players_in_dataset = []
  for name in names_list:
    if name not in df[column_name].values:
      count += 1
    else:
      players_in_dataset.append(name)
  return count, players_in_dataset

In [52]:
count_not_in_dataset, players_found = players_in_dataset(nan_rows_name, players, 'name')

print(f"Number of players in nan_rows_name not found in the dataset: {count_not_in_dataset}")

Number of players in nan_rows_name not found in the dataset: 20175

In [53]:

print(f"Players found in the dataset: {players_found}")

Players found in the dataset: []

In [54]:

# Assuming your DataFrame is named 'df'

# Filter the DataFrame to include only rows where 'team_match' is NaN
df_filtered = nan_rows[nan_rows['team_match'].isna()]

# Find unique team names with 'team_match' as NaN
unique_teams_with_nan_matches = df_filtered['Team Name'].unique()

# Print the unique team names
print(unique_teams_with_nan_matches)

['alavés' 'lazio' 'almería' 'torino' 'genoa' 'sevilla' 'atalanta'
 'villarreal' 'napoli' 'rayo vallecano' 'luton town' 'sheffield utd'
 'mallorca' 'fiorentina' 'sassuolo' 'girona' 'fulham' 'granada'
 'celta vigo' 'getafe' 'osasuna' 'bologna' 'real madrid' 'athletic club'
 'hellas verona' 'juventus' 'cádiz' 'valencia' 'tottenham' 'west ham'
 'frosinone' 'barcelona' 'monza' 'wolves' 'everton' 'bournemouth'
 'las palmas' 'burnley' 'crystal palace' 'manchester city' 'lecce'
 'udinese' 'arsenal' 'empoli' 'inter' 'salernitana' 'brentford'
 "nott'ham forest" 'roma' 'real sociedad' 'betis' 'brighton'
 'atlético madrid' 'chelsea' 'manchester utd' 'strasbourg' 'lille'
 'rennes' 'nice' 'le havre' 'hoffenheim' 'werder bremen' 'augsburg'
 'rb leipzig' 'monaco' 'wolfsburg' 'metz' 'lens' 'nantes' 'lyon'
 'clermont foot' 'paris s-g' 'eint frankfurt' 'marseille' 'lorient'
 'heidenheim' 'stuttgart' 'gladbach' 'union berlin' 'leverkusen' 'köln'
 'toulouse' 'mainz 05' 'brest' 'bochum' 'cagliari' 'freiburg' 'reims'
 'bayern munich' 'dortmund' 'montpellier' 'liverpool' 'darmstadt 98'
 'milan' 'aston villa' 'newcastle utd' 'troyes' 'angers' 'espanyol'
 'cremonese' 'spezia' 'southampton' 'elche' 'sampdoria' 'ajaccio'
 'valladolid' 'auxerre' 'leicester city' 'schalke 04' 'hertha bsc']