In [89]:
import pandas as pd
import os

In [90]:
fixture_data_path = '../Data/RAW/FBREF_Dataset/serie-a_2023-2024_fixture_data.csv'
player_data_path = '../Data/RAW//FBREF_Dataset/serie-a_2023-2024_player_data.csv'

In [91]:
fixture_raw = pd.read_csv(fixture_data_path)

In [92]:
pd.set_option('display.max_columns', None)

In [93]:
fixture_raw.head(10)

,Wk,Day,Date,Time,Home,Away,xG,xG.1,Score,season,game_id
0,1.0,Sat,2023-08-19,18:30,Frosinone,Napoli,0.9,1.5,1–3,2023-2024,0
1,1.0,Sat,2023-08-19,18:30,Empoli,Hellas Verona,0.7,0.5,0–1,2023-2024,1
2,1.0,Sat,2023-08-19,20:45,Inter,Monza,2.7,0.8,2–0,2023-2024,2
3,1.0,Sat,2023-08-19,20:45,Genoa,Fiorentina,0.2,1.0,1–4,2023-2024,3
4,1.0,Sun,2023-08-20,18:30,Sassuolo,Atalanta,0.4,1.3,0–2,2023-2024,4
5,1.0,Sun,2023-08-20,18:30,Roma,Salernitana,1.9,0.1,2–2,2023-2024,5
6,1.0,Sun,2023-08-20,20:45,Lecce,Lazio,1.4,1.6,2–1,2023-2024,6
7,1.0,Sun,2023-08-20,20:45,Udinese,Juventus,1.0,1.8,0–3,2023-2024,7
8,1.0,Mon,2023-08-21,18:30,Torino,Cagliari,1.0,0.4,0–0,2023-2024,8
9,1.0,Mon,2023-08-21,20:45,Bologna,Milan,1.0,0.9,0–2,2023-2024,9

In [94]:
fixture_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Wk       380 non-null    float64
 1   Day      380 non-null    object
 2   Date     380 non-null    object
 3   Time     380 non-null    object
 4   Home     380 non-null    object
 5   Away     380 non-null    object
 6   xG       380 non-null    float64
 7   xG.1     380 non-null    float64
 8   Score    380 non-null    object
 9   season   380 non-null    object
 10  game_id  380 non-null    int64
dtypes: float64(3), int64(1), object(7)
memory usage: 32.8+ KB

In [95]:
# fixture_raw.describe()

In [96]:
fixture_raw.isnull().sum()

Wk         0
Day        0
Date       0
Time       0
Home       0
Away       0
xG         0
xG.1       0
Score      0
season     0
game_id    0
dtype: int64

In [97]:
player_raw = pd.read_csv(player_data_path)

In [98]:
player_raw.head(17)

,index,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,CrdR,Touches,Tkl,Int,Blocks,xG,npxG,xAG,SCA,GCA,Cmp_x,Att_x,Cmp%_x,PrgP,Carries,PrgC,Att_x.1,Succ,SoTA,GA,Saves,Save%,PSxG,Cmp_y,Att_y,Cmp%_y,Att (GK),Thr,Launch%,AvgLen,Att_y.1,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id
0,0,16 Players,NaN,NaN,NaN,NaN,990.0,1.0,0.0,1.0,1.0,3.0,0.0,3.0,0.0,575.0,6.0,2.0,19.0,0.9,0.1,0.1,8.0,2.0,413.0,476.0,86.8,30.0,293.0,12.0,20.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,1,Abdou Harroui,21.0,nl NED,LM,25-218,85.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,52.0,3.0,0.0,1.0,0.8,0.0,0.0,2.0,0.0,35.0,38.0,92.1,2.0,22.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,2,Anthony Oyono,22.0,ga GAB,RB,22-129,90.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,56.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,36.0,41.0,87.8,5.0,31.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,3,Enzo Barrenechea,45.0,ar ARG,LM,22-089,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,12.0,100.0,1.0,8.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,4,Francesco Gelli,14.0,it ITA,RM,26-308,90.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,61.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,50.0,58.0,86.2,4.0,34.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
5,5,Gennaro Borrelli,9.0,it ITA,FW,23-162,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
6,6,Giorgi Kvernadze,17.0,ge GEO,LW,20-193,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,8.0,100.0,1.0,10.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
7,7,Giuseppe Caso,10.0,it ITA,LW,24-253,66.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,21.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,13.0,14.0,92.9,5.0,15.0,2.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
8,8,Ilario Monterisi,30.0,it ITA,CB,21-243,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,85.0,95.0,89.5,3.0,65.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
9,9,Jaime Báez,7.0,uy URU,RW,28-116,74.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,30.0,0.0,0.0,3.0,0.1,0.1,0.0,1.0,1.0,16.0,21.0,76.2,4.0,14.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
10,10,Luca Mazzitelli,36.0,it ITA,CM,27-277,74.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,61.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,44.0,54.0,81.5,5.0,24.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
11,11,Luigi Canotto,19.0,it ITA,RW,29-092,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,66.7,0.0,5.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
12,12,Marco Brescianini,4.0,it ITA,CM,23-211,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,50.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
13,13,Marvin Cuni,11.0,al ALB,FW,22-040,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,15.0,93.3,0.0,12.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
14,14,Riccardo Marchizza,3.0,it ITA,LB,25-146,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,1.0,0.0,3.0,0.0,0.0,0.1,1.0,0.0,25.0,29.0,86.2,0.0,9.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
15,15,Simone Romagnoli,6.0,it ITA,CB,33-191,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,40.0,42.0,95.2,0.0,15.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
16,0,16 Players,NaN,NaN,NaN,NaN,990.0,3.0,2.0,0.0,0.0,19.0,8.0,3.0,0.0,591.0,20.0,3.0,6.0,1.5,1.5,1.2,36.0,5.0,436.0,506.0,86.2,46.0,352.0,21.0,9.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [99]:
player_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11913 entries, 0 to 11912
Data columns (total 54 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      11913 non-null  int64
 1   Player     11913 non-null  object
 2   #          11152 non-null  float64
 3   Nation     11142 non-null  object
 4   Pos        11152 non-null  object
 5   Age        11142 non-null  object
 6   Min        11911 non-null  float64
 7   Gls        11912 non-null  float64
 8   Ast        11912 non-null  float64
 9   PK         11912 non-null  float64
 10  PKatt      11912 non-null  float64
 11  Sh         11912 non-null  float64
 12  SoT        11912 non-null  float64
 13  CrdY       11912 non-null  float64
 14  CrdR       11912 non-null  float64
 15  Touches    11912 non-null  float64
 16  Tkl        11912 non-null  float64
 17  Int        11912 non-null  float64
 18  Blocks     11912 non-null  float64
 19  xG         11912 non-null  float64
 20  npxG       11912 non-null  float64
 21  xAG        11912 non-null  float64
 22  SCA        11912 non-null  float64
 23  GCA        11912 non-null  float64
 24  Cmp_x      11912 non-null  float64
 25  Att_x      11912 non-null  float64
 26  Cmp%_x     11786 non-null  float64
 27  PrgP       11912 non-null  float64
 28  Carries    11912 non-null  float64
 29  PrgC       11912 non-null  float64
 30  Att_x.1    11912 non-null  float64
 31  Succ       11912 non-null  float64
 32  SoTA       635 non-null    float64
 33  GA         628 non-null    float64
 34  Saves      634 non-null    float64
 35  Save%      611 non-null    float64
 36  PSxG       636 non-null    float64
 37  Cmp_y      633 non-null    float64
 38  Att_y      636 non-null    float64
 39  Cmp%_y     625 non-null    float64
 40  Att (GK)   636 non-null    float64
 41  Thr        633 non-null    float64
 42  Launch%    629 non-null    float64
 43  AvgLen     634 non-null    float64
 44  Att_y.1    636 non-null    float64
 45  Launch%.1  616 non-null    float64
 46  AvgLen.1   621 non-null    float64
 47  Opp        636 non-null    float64
 48  Stp        628 non-null    float64
 49  Stp%       624 non-null    float64
 50  #OPA       625 non-null    float64
 51  AvgDist    588 non-null    float64
 52  home       11913 non-null  int64
 53  game_id    11913 non-null  int64
dtypes: float64(47), int64(3), object(4)
memory usage: 4.9+ MB

In [100]:
# player_raw.describe()

In [101]:
player_raw.isnull().sum()

index            0
Player           0
#              761
Nation         771
Pos            761
Age            771
Min              2
Gls              1
Ast              1
PK               1
PKatt            1
Sh               1
SoT              1
CrdY             1
CrdR             1
Touches          1
Tkl              1
Int              1
Blocks           1
xG               1
npxG             1
xAG              1
SCA              1
GCA              1
Cmp_x            1
Att_x            1
Cmp%_x         127
PrgP             1
Carries          1
PrgC             1
Att_x.1          1
Succ             1
SoTA         11278
GA           11285
Saves        11279
Save%        11302
PSxG         11277
Cmp_y        11280
Att_y        11277
Cmp%_y       11288
Att (GK)     11277
Thr          11280
Launch%      11284
AvgLen       11279
Att_y.1      11277
Launch%.1    11297
AvgLen.1     11292
Opp          11277
Stp          11285
Stp%         11289
#OPA         11288
AvgDist      11325
home             0
game_id          0
dtype: int64

In [102]:
merged_player_raw = player_raw.merge(fixture_raw[['Home', 'Away', 'game_id', 'season', 'Date']], left_on='game_id', right_on='game_id', how='left')
merged_player_raw['Team Name'] = merged_player_raw.apply(lambda row: row['Home'] if row['home'] == 1 else row['Away'], axis=1)
merged_player_raw.drop(['Home', 'Away', 'index'], axis=1, inplace=True)

print(merged_player_raw['Age'])
merged_player_raw.head(15)

0           NaN
1        25-218
2        22-129
3        22-089
4        26-308
          ...
11908    23-065
11909    28-023
11910    26-181
11911    19-328
11912    26-057
Name: Age, Length: 11913, dtype: object

,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,CrdR,Touches,Tkl,Int,Blocks,xG,npxG,xAG,SCA,GCA,Cmp_x,Att_x,Cmp%_x,PrgP,Carries,PrgC,Att_x.1,Succ,SoTA,GA,Saves,Save%,PSxG,Cmp_y,Att_y,Cmp%_y,Att (GK),Thr,Launch%,AvgLen,Att_y.1,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id,season,Date,Team Name
0,16 Players,NaN,NaN,NaN,NaN,990.0,1.0,0.0,1.0,1.0,3.0,0.0,3.0,0.0,575.0,6.0,2.0,19.0,0.9,0.1,0.1,8.0,2.0,413.0,476.0,86.8,30.0,293.0,12.0,20.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
1,Abdou Harroui,21.0,nl NED,LM,25-218,85.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,52.0,3.0,0.0,1.0,0.8,0.0,0.0,2.0,0.0,35.0,38.0,92.1,2.0,22.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
2,Anthony Oyono,22.0,ga GAB,RB,22-129,90.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,56.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,36.0,41.0,87.8,5.0,31.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
3,Enzo Barrenechea,45.0,ar ARG,LM,22-089,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,12.0,100.0,1.0,8.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
4,Francesco Gelli,14.0,it ITA,RM,26-308,90.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,61.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,50.0,58.0,86.2,4.0,34.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
5,Gennaro Borrelli,9.0,it ITA,FW,23-162,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
6,Giorgi Kvernadze,17.0,ge GEO,LW,20-193,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,8.0,100.0,1.0,10.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
7,Giuseppe Caso,10.0,it ITA,LW,24-253,66.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,21.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,13.0,14.0,92.9,5.0,15.0,2.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
8,Ilario Monterisi,30.0,it ITA,CB,21-243,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,85.0,95.0,89.5,3.0,65.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
9,Jaime Báez,7.0,uy URU,RW,28-116,74.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,30.0,0.0,0.0,3.0,0.1,0.1,0.0,1.0,1.0,16.0,21.0,76.2,4.0,14.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
10,Luca Mazzitelli,36.0,it ITA,CM,27-277,74.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,61.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,44.0,54.0,81.5,5.0,24.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
11,Luigi Canotto,19.0,it ITA,RW,29-092,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,66.7,0.0,5.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
12,Marco Brescianini,4.0,it ITA,CM,23-211,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,50.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
13,Marvin Cuni,11.0,al ALB,FW,22-040,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,15.0,93.3,0.0,12.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone
14,Riccardo Marchizza,3.0,it ITA,LB,25-146,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,1.0,0.0,3.0,0.0,0.0,0.1,1.0,0.0,25.0,29.0,86.2,0.0,9.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,2023-08-19,Frosinone

In [103]:
clean_data_GK_path = '../Data/Clean/GK.csv'
clean_data_Team_path = '../Data/Clean/Team.csv'
clean_data_Player_path = '../Data/Clean/Player.csv'

In [104]:
grouped_position = merged_player_raw.groupby(merged_player_raw.Pos)
df_GK = grouped_position.get_group("GK")

if not os.path.exists(clean_data_GK_path):
    df_GK.to_csv(clean_data_GK_path, index=False)
else:
    df_GK.to_csv(clean_data_GK_path, mode='a', header=False, index=False)


df_Team = merged_player_raw[merged_player_raw['Pos'].isna()]
if not os.path.exists(clean_data_Team_path):
    df_Team.to_csv(clean_data_Team_path, index=False)
else:
    df_Team.to_csv(clean_data_Team_path, mode='a', header=False, index=False)

df_Player = merged_player_raw[(merged_player_raw['Pos'] != "GK") & (merged_player_raw['Pos'].notna())]
if not os.path.exists(clean_data_Player_path):
    df_Player.to_csv(clean_data_Player_path, index=False)
else:
    df_Player.to_csv(clean_data_Player_path, mode='a', header=False, index=False)

In [105]:
transfers = pd.read_csv('../Data/RAW/Transfermarkt_Dataset/transfers.csv')
transfers.head(10)

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
1,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
2,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia
3,1047109,2026-06-30,25/26,2672,265,APO Levadiakos,Panathinaikos,0.0,100000.0,Georgios Katris
4,360791,2025-12-31,25/26,6418,1030,Panetolikos,Argentinos Jrs.,0.0,1200000.0,Lucas Chaves
5,532536,2025-10-24,24/25,2451,1519,Inverness CT,Dundee United,0.0,150000.0,Jack Newman
6,1038821,2025-07-31,25/26,3837,11204,Fredrikstad,Stade Reims B,0.0,100000.0,Fallou Fall
7,55336,2025-07-01,25/26,3719,123,Khimki,Retired,NaN,150000.0,Denis Glushakov
8,149729,2025-07-01,25/26,294,114,Benfica,Besiktas,2000000.0,3800000.0,João Mário
9,160506,2025-07-01,25/26,206,515,Bröndby IF,Without Club,0.0,1500000.0,Josip Radosevic

In [106]:
transfers.isnull().sum()

player_id                  0
transfer_date              0
transfer_season            0
from_club_id               0
to_club_id                 0
from_club_name             0
to_club_name               0
transfer_fee           27162
market_value_in_eur    29693
player_name                0
dtype: int64

In [107]:
player_valuations = pd.read_csv('../Data/RAW/Transfermarkt_Dataset/player_valuations.csv')
player_valuations.head(10)

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1
5,26,2004-10-04,1500000,16,L1
6,65,2004-10-04,8000000,1091,GR1
7,77,2004-10-04,13000000,506,IT1
8,80,2004-10-04,400000,27,L1
9,109,2004-10-04,9500000,825,TR1

In [108]:
player_valuations.isnull().sum()

player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

In [109]:
players = pd.read_csv('../Data/RAW/Transfermarkt_Dataset/players.csv')
players.head(10)

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth,sub_position,position,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,1978-06-09 00:00:00,Centre-Forward,Attack,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,1980-08-06 00:00:00,Goalkeeper,Goalkeeper,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,1981-01-30 00:00:00,Centre-Forward,Attack,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,1978-05-08 00:00:00,Centre-Back,Defender,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,1981-03-18 00:00:00,Goalkeeper,Goalkeeper,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0
5,109,NaN,Dedê,Dedê,2013,825,dede,Brazil,Belo Horizonte,Brazil,1978-04-18 00:00:00,Left-Back,Defender,NaN,NaN,NaN,Football Concept,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dede/profil/sp...,TR1,Eskisehirspor,400000.0,9500000.0
6,123,Christoph,Metzelder,Christoph Metzelder,2012,33,christoph-metzelder,Germany,Haltern,Germany,1980-11-05 00:00:00,Centre-Back,Defender,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/christoph-metz...,L1,FC Schalke 04,1500000.0,9500000.0
7,132,Tomas,Rosicky,Tomas Rosicky,2015,11,tomas-rosicky,CSSR,Praha,Czech Republic,1980-10-04 00:00:00,Attacking Midfield,Midfield,both,179.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tomas-rosicky/...,GB1,Arsenal Football Club,350000.0,17500000.0
8,162,Marc,Ziegler,Marc Ziegler,2012,79,marc-ziegler,Germany,Blieskastel,Germany,1976-06-13 00:00:00,Goalkeeper,Goalkeeper,right,193.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/marc-ziegler/p...,L1,Verein für Bewegungsspiele Stuttgart 1893,200000.0,1250000.0
9,215,Roque,Santa Cruz,Roque Santa Cruz,2015,1084,roque-santa-cruz,Paraguay,Asunción,Paraguay,1981-08-16 00:00:00,Centre-Forward,Attack,right,193.0,2023-12-31 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roque-santa-cr...,ES1,Málaga CF,250000.0,12000000.0

In [110]:
players.isnull().sum()

player_id                                   0
first_name                               2058
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2806
city_of_birth                            2464
country_of_citizenship                    380
date_of_birth                              47
sub_position                              185
position                                    0
foot                                     2594
height_in_cm                             2337
contract_expiration_date                12117
agent_name                              15998
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1534
highest_market_value_in_eur              1534
dtype: int64