In [37]:
import pandas as pd

In [38]:
fixture_raw = pd.read_csv('../Data/RAW/FBREF_Dataset/premier-league_2023-2024_fixture_data.csv')

In [39]:
pd.set_option('display.max_columns', None)

In [40]:
fixture_raw.head(10)

,Wk,Day,Date,Time,Home,Away,xG,xG.1,Score,season,game_id
0,1.0,Fri,2023-08-11,20:00,Burnley,Manchester City,0.3,1.9,0–3,2023-2024,0
1,1.0,Sat,2023-08-12,12:30,Arsenal,Nott'ham Forest,0.8,1.2,2–1,2023-2024,1
2,1.0,Sat,2023-08-12,15:00,Everton,Fulham,2.7,1.5,0–1,2023-2024,2
3,1.0,Sat,2023-08-12,15:00,Sheffield Utd,Crystal Palace,0.5,1.9,0–1,2023-2024,3
4,1.0,Sat,2023-08-12,15:00,Brighton,Luton Town,4.0,1.5,4–1,2023-2024,4
5,1.0,Sat,2023-08-12,15:00,Bournemouth,West Ham,1.3,1.1,1–1,2023-2024,5
6,1.0,Sat,2023-08-12,17:30,Newcastle Utd,Aston Villa,3.3,1.8,5–1,2023-2024,6
7,1.0,Sun,2023-08-13,14:00,Brentford,Tottenham,2.2,1.3,2–2,2023-2024,7
8,1.0,Sun,2023-08-13,16:30,Chelsea,Liverpool,1.4,1.3,1–1,2023-2024,8
9,1.0,Mon,2023-08-14,20:00,Manchester Utd,Wolves,2.2,2.2,1–0,2023-2024,9

In [41]:
fixture_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Wk       380 non-null    float64
 1   Day      380 non-null    object
 2   Date     380 non-null    object
 3   Time     380 non-null    object
 4   Home     380 non-null    object
 5   Away     380 non-null    object
 6   xG       380 non-null    float64
 7   xG.1     380 non-null    float64
 8   Score    380 non-null    object
 9   season   380 non-null    object
 10  game_id  380 non-null    int64
dtypes: float64(3), int64(1), object(7)
memory usage: 32.8+ KB

In [42]:
# fixture_raw.describe()

In [43]:
fixture_raw.isnull().sum()

Wk         0
Day        0
Date       0
Time       0
Home       0
Away       0
xG         0
xG.1       0
Score      0
season     0
game_id    0
dtype: int64

In [ ]:
player_raw = pd.read_csv('../Data/RAW//FBREF_Dataset/premier-league_2023-2024_player_data.csv')

In [45]:
player_raw.head(17)

,index,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,CrdR,Touches,Tkl,Int,Blocks,xG,npxG,xAG,SCA,GCA,Cmp_x,Att_x,Cmp%_x,PrgP,Carries,PrgC,Att_x.1,Succ,SoTA,GA,Saves,Save%,PSxG,Cmp_y,Att_y,Cmp%_y,Att (GK),Thr,Launch%,AvgLen,Att_y.1,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id
0,0,16 Players,NaN,NaN,NaN,NaN,989,0,0,0,0,6,1,0,1,496,12,7,12,0.3,0.3,0.3,10,0,313,395,79.2,18,225,10,15,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,1,Ameen Al-Dakhil,28.0,be BEL,CB,21-158,90,0,0,0,0,0,0,0,0,51,2,1,2,0.0,0.0,0.0,0,0,32,38,84.2,3,24,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,2,Anass Zaroury,19.0,ma MAR,FW,22-277,29,0,0,0,0,1,0,0,1,13,0,0,0,0.0,0.0,0.0,1,0,10,12,83.3,0,6,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,3,Benson Manuel,10.0,ao ANG,FW,26-136,17,0,0,0,0,0,0,0,0,9,0,0,0,0.0,0.0,0.0,0,0,4,5,80.0,0,7,1,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,4,Connor Roberts,14.0,wls WAL,RB,27-322,90,0,0,0,0,0,0,0,0,51,2,0,0,0.0,0.0,0.0,0,0,39,46,84.8,4,17,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
5,5,Dara O'Shea,2.0,ie IRL,CB,24-160,90,0,0,0,0,0,0,0,0,62,0,1,2,0.0,0.0,0.0,0,0,42,56,75.0,3,27,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
6,6,Jacob Bruun Larsen,34.0,dk DEN,RM,24-326,30,0,0,0,0,1,0,0,0,9,0,0,0,0.0,0.0,0.0,1,0,4,6,66.7,2,4,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
7,7,James Trafford,1.0,eng ENG,GK,20-305,90,0,0,0,0,0,0,0,0,55,0,0,0,0.0,0.0,0.0,0,0,39,52,75.0,1,32,0,0,0,8.0,3.0,5.0,62.5,2.7,5.0,16.0,31.3,47.0,8.0,27.7,26.8,5.0,60.0,40.4,14.0,0.0,0.0,4.0,22.3,1,0
8,8,Jordan Beyer,5.0,de GER,CB,23-084,73,0,0,0,0,0,0,0,0,49,4,4,2,0.0,0.0,0.0,0,0,28,35,80.0,0,21,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
9,9,Josh Brownhill,8.0,eng ENG,CM,27-235,1,0,0,0,0,0,0,0,0,2,0,0,0,0.0,0.0,0.0,0,0,2,2,100.0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
10,10,Josh Cullen,24.0,ie IRL,CM,27-126,90,0,0,0,0,0,0,0,0,46,1,0,1,0.0,0.0,0.0,0,0,37,43,86.0,2,16,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
11,11,Luca Koleosho,30.0,it ITA,RM,18-330,60,0,0,0,0,1,0,0,0,23,0,0,0,0.1,0.1,0.1,2,0,8,14,57.1,0,18,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
12,12,Lyle Foster,17.0,za RSA,LM,22-342,89,0,0,0,0,2,0,0,0,37,2,0,2,0.1,0.1,0.0,3,0,14,20,70.0,2,14,2,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
13,13,Nathan Redmond,15.0,eng ENG,LM,29-158,1,0,0,0,0,0,0,0,0,2,0,0,0,0.0,0.0,0.0,0,0,1,2,50.0,0,2,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
14,14,Sander Berge,16.0,no NOR,CM,25-178,89,0,0,0,0,0,0,0,0,33,0,0,1,0.0,0.0,0.0,0,0,23,28,82.1,1,12,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
15,15,Vitinho,22.0,br BRA,LB,24-019,90,0,0,0,0,0,0,0,0,31,0,1,2,0.0,0.0,0.1,2,0,20,25,80.0,0,14,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
16,0,16 Players,NaN,NaN,NaN,NaN,990,3,2,0,0,17,8,0,0,835,17,4,9,2.1,2.1,1.3,29,5,655,740,88.5,28,558,12,10,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [46]:
player_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11354 entries, 0 to 11353
Data columns (total 54 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      11354 non-null  int64
 1   Player     11354 non-null  object
 2   #          10596 non-null  float64
 3   Nation     10596 non-null  object
 4   Pos        10596 non-null  object
 5   Age        10596 non-null  object
 6   Min        11354 non-null  int64
 7   Gls        11354 non-null  int64
 8   Ast        11354 non-null  int64
 9   PK         11354 non-null  int64
 10  PKatt      11354 non-null  int64
 11  Sh         11354 non-null  int64
 12  SoT        11354 non-null  int64
 13  CrdY       11354 non-null  int64
 14  CrdR       11354 non-null  int64
 15  Touches    11354 non-null  int64
 16  Tkl        11354 non-null  int64
 17  Int        11354 non-null  int64
 18  Blocks     11354 non-null  int64
 19  xG         11354 non-null  float64
 20  npxG       11354 non-null  float64
 21  xAG        11354 non-null  float64
 22  SCA        11354 non-null  int64
 23  GCA        11354 non-null  int64
 24  Cmp_x      11354 non-null  int64
 25  Att_x      11354 non-null  int64
 26  Cmp%_x     11235 non-null  float64
 27  PrgP       11354 non-null  int64
 28  Carries    11354 non-null  int64
 29  PrgC       11354 non-null  int64
 30  Att_x.1    11354 non-null  int64
 31  Succ       11354 non-null  int64
 32  SoTA       701 non-null    float64
 33  GA         697 non-null    float64
 34  Saves      698 non-null    float64
 35  Save%      688 non-null    float64
 36  PSxG       702 non-null    float64
 37  Cmp_y      700 non-null    float64
 38  Att_y      702 non-null    float64
 39  Cmp%_y     690 non-null    float64
 40  Att (GK)   700 non-null    float64
 41  Thr        700 non-null    float64
 42  Launch%    698 non-null    float64
 43  AvgLen     700 non-null    float64
 44  Att_y.1    700 non-null    float64
 45  Launch%.1  677 non-null    float64
 46  AvgLen.1   679 non-null    float64
 47  Opp        700 non-null    float64
 48  Stp        695 non-null    float64
 49  Stp%       694 non-null    float64
 50  #OPA       692 non-null    float64
 51  AvgDist    671 non-null    float64
 52  home       11354 non-null  int64
 53  game_id    11354 non-null  int64
dtypes: float64(25), int64(25), object(4)
memory usage: 4.7+ MB

In [47]:
# player_raw.describe()

In [48]:
player_raw.isnull().sum()

index            0
Player           0
#              758
Nation         758
Pos            758
Age            758
Min              0
Gls              0
Ast              0
PK               0
PKatt            0
Sh               0
SoT              0
CrdY             0
CrdR             0
Touches          0
Tkl              0
Int              0
Blocks           0
xG               0
npxG             0
xAG              0
SCA              0
GCA              0
Cmp_x            0
Att_x            0
Cmp%_x         119
PrgP             0
Carries          0
PrgC             0
Att_x.1          0
Succ             0
SoTA         10653
GA           10657
Saves        10656
Save%        10666
PSxG         10652
Cmp_y        10654
Att_y        10652
Cmp%_y       10664
Att (GK)     10654
Thr          10654
Launch%      10656
AvgLen       10654
Att_y.1      10654
Launch%.1    10677
AvgLen.1     10675
Opp          10654
Stp          10659
Stp%         10660
#OPA         10662
AvgDist      10683
home             0
game_id          0
dtype: int64

In [49]:
merged_player_raw = player_raw.merge(fixture_raw[['Home', 'Away', 'game_id', 'season']], left_on='game_id', right_on='game_id', how='left')
merged_player_raw['Team Name'] = merged_player_raw.apply(lambda row: row['Home'] if row['home'] == 1 else row['Away'], axis=1)
merged_player_raw.drop(['Home', 'Away'], axis=1, inplace=True)

print(merged_player_raw['Age'])
merged_player_raw.head(15)

0           NaN
1        21-158
2        22-277
3        26-136
4        27-322
          ...
11349    28-072
11350    21-320
11351    19-021
11352    26-180
11353    26-281
Name: Age, Length: 11354, dtype: object

,index,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,CrdR,Touches,Tkl,Int,Blocks,xG,npxG,xAG,SCA,GCA,Cmp_x,Att_x,Cmp%_x,PrgP,Carries,PrgC,Att_x.1,Succ,SoTA,GA,Saves,Save%,PSxG,Cmp_y,Att_y,Cmp%_y,Att (GK),Thr,Launch%,AvgLen,Att_y.1,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id,season,Team Name
0,0,16 Players,NaN,NaN,NaN,NaN,989,0,0,0,0,6,1,0,1,496,12,7,12,0.3,0.3,0.3,10,0,313,395,79.2,18,225,10,15,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
1,1,Ameen Al-Dakhil,28.0,be BEL,CB,21-158,90,0,0,0,0,0,0,0,0,51,2,1,2,0.0,0.0,0.0,0,0,32,38,84.2,3,24,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
2,2,Anass Zaroury,19.0,ma MAR,FW,22-277,29,0,0,0,0,1,0,0,1,13,0,0,0,0.0,0.0,0.0,1,0,10,12,83.3,0,6,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
3,3,Benson Manuel,10.0,ao ANG,FW,26-136,17,0,0,0,0,0,0,0,0,9,0,0,0,0.0,0.0,0.0,0,0,4,5,80.0,0,7,1,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
4,4,Connor Roberts,14.0,wls WAL,RB,27-322,90,0,0,0,0,0,0,0,0,51,2,0,0,0.0,0.0,0.0,0,0,39,46,84.8,4,17,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
5,5,Dara O'Shea,2.0,ie IRL,CB,24-160,90,0,0,0,0,0,0,0,0,62,0,1,2,0.0,0.0,0.0,0,0,42,56,75.0,3,27,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
6,6,Jacob Bruun Larsen,34.0,dk DEN,RM,24-326,30,0,0,0,0,1,0,0,0,9,0,0,0,0.0,0.0,0.0,1,0,4,6,66.7,2,4,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
7,7,James Trafford,1.0,eng ENG,GK,20-305,90,0,0,0,0,0,0,0,0,55,0,0,0,0.0,0.0,0.0,0,0,39,52,75.0,1,32,0,0,0,8.0,3.0,5.0,62.5,2.7,5.0,16.0,31.3,47.0,8.0,27.7,26.8,5.0,60.0,40.4,14.0,0.0,0.0,4.0,22.3,1,0,2023-2024,Burnley
8,8,Jordan Beyer,5.0,de GER,CB,23-084,73,0,0,0,0,0,0,0,0,49,4,4,2,0.0,0.0,0.0,0,0,28,35,80.0,0,21,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
9,9,Josh Brownhill,8.0,eng ENG,CM,27-235,1,0,0,0,0,0,0,0,0,2,0,0,0,0.0,0.0,0.0,0,0,2,2,100.0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
10,10,Josh Cullen,24.0,ie IRL,CM,27-126,90,0,0,0,0,0,0,0,0,46,1,0,1,0.0,0.0,0.0,0,0,37,43,86.0,2,16,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
11,11,Luca Koleosho,30.0,it ITA,RM,18-330,60,0,0,0,0,1,0,0,0,23,0,0,0,0.1,0.1,0.1,2,0,8,14,57.1,0,18,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
12,12,Lyle Foster,17.0,za RSA,LM,22-342,89,0,0,0,0,2,0,0,0,37,2,0,2,0.1,0.1,0.0,3,0,14,20,70.0,2,14,2,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
13,13,Nathan Redmond,15.0,eng ENG,LM,29-158,1,0,0,0,0,0,0,0,0,2,0,0,0,0.0,0.0,0.0,0,0,1,2,50.0,0,2,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley
14,14,Sander Berge,16.0,no NOR,CM,25-178,89,0,0,0,0,0,0,0,0,33,0,0,1,0.0,0.0,0.0,0,0,23,28,82.1,1,12,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Burnley

In [ ]:
grouped_position = merged_player_raw.groupby(merged_player_raw.Pos)
df_GK = grouped_position.get_group("GK")

df_GK.to_csv('../Data/Clean/GK.csv', index=False)

df_Team = merged_player_raw[merged_player_raw['Pos'].isna()]
df_Team.to_csv('../Data/Clean/Team.csv', index=False)

df_Player = merged_player_raw[(merged_player_raw['Pos'] != "GK") & (merged_player_raw['Pos'].notna())]
df_Player.to_csv('../Data/Clean/Player.csv', index=False)

In [ ]:
transfers = pd.read_csv('../Data/RAW/Transfermarkt_Dataset/transfers.csv')
transfers.head(10)

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
1,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
2,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia
3,1047109,2026-06-30,25/26,2672,265,APO Levadiakos,Panathinaikos,0.0,100000.0,Georgios Katris
4,360791,2025-12-31,25/26,6418,1030,Panetolikos,Argentinos Jrs.,0.0,1200000.0,Lucas Chaves
5,532536,2025-10-24,24/25,2451,1519,Inverness CT,Dundee United,0.0,150000.0,Jack Newman
6,1038821,2025-07-31,25/26,3837,11204,Fredrikstad,Stade Reims B,0.0,100000.0,Fallou Fall
7,55336,2025-07-01,25/26,3719,123,Khimki,Retired,NaN,150000.0,Denis Glushakov
8,149729,2025-07-01,25/26,294,114,Benfica,Besiktas,2000000.0,3800000.0,João Mário
9,160506,2025-07-01,25/26,206,515,Bröndby IF,Without Club,0.0,1500000.0,Josip Radosevic

In [ ]:
transfers.isnull().sum()

player_id                  0
transfer_date              0
transfer_season            0
from_club_id               0
to_club_id                 0
from_club_name             0
to_club_name               0
transfer_fee           27162
market_value_in_eur    29693
player_name                0
dtype: int64

In [ ]:
player_valuations = pd.read_csv('../Data/RAW/Transfermarkt_Dataset/player_valuations.csv')
player_valuations.head(10)

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1
5,26,2004-10-04,1500000,16,L1
6,65,2004-10-04,8000000,1091,GR1
7,77,2004-10-04,13000000,506,IT1
8,80,2004-10-04,400000,27,L1
9,109,2004-10-04,9500000,825,TR1

In [ ]:
player_valuations.isnull().sum()

player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

In [ ]:
players = pd.read_csv('../Data/RAW/Transfermarkt_Dataset/players.csv')
players.head(10)

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth,sub_position,position,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,1978-06-09 00:00:00,Centre-Forward,Attack,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,1980-08-06 00:00:00,Goalkeeper,Goalkeeper,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,1981-01-30 00:00:00,Centre-Forward,Attack,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,1978-05-08 00:00:00,Centre-Back,Defender,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,1981-03-18 00:00:00,Goalkeeper,Goalkeeper,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0
5,109,NaN,Dedê,Dedê,2013,825,dede,Brazil,Belo Horizonte,Brazil,1978-04-18 00:00:00,Left-Back,Defender,NaN,NaN,NaN,Football Concept,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dede/profil/sp...,TR1,Eskisehirspor,400000.0,9500000.0
6,123,Christoph,Metzelder,Christoph Metzelder,2012,33,christoph-metzelder,Germany,Haltern,Germany,1980-11-05 00:00:00,Centre-Back,Defender,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/christoph-metz...,L1,FC Schalke 04,1500000.0,9500000.0
7,132,Tomas,Rosicky,Tomas Rosicky,2015,11,tomas-rosicky,CSSR,Praha,Czech Republic,1980-10-04 00:00:00,Attacking Midfield,Midfield,both,179.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tomas-rosicky/...,GB1,Arsenal Football Club,350000.0,17500000.0
8,162,Marc,Ziegler,Marc Ziegler,2012,79,marc-ziegler,Germany,Blieskastel,Germany,1976-06-13 00:00:00,Goalkeeper,Goalkeeper,right,193.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/marc-ziegler/p...,L1,Verein für Bewegungsspiele Stuttgart 1893,200000.0,1250000.0
9,215,Roque,Santa Cruz,Roque Santa Cruz,2015,1084,roque-santa-cruz,Paraguay,Asunción,Paraguay,1981-08-16 00:00:00,Centre-Forward,Attack,right,193.0,2023-12-31 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roque-santa-cr...,ES1,Málaga CF,250000.0,12000000.0

In [ ]:
players.isnull().sum()

player_id                                   0
first_name                               2058
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2806
city_of_birth                            2464
country_of_citizenship                    380
date_of_birth                              47
sub_position                              185
position                                    0
foot                                     2594
height_in_cm                             2337
contract_expiration_date                12117
agent_name                              15998
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1534
highest_market_value_in_eur              1534
dtype: int64